body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.clearfix{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container{
	width: 1050px;
	margin: 0 auto;
}

header{
	background: url(../img/back1.jpg) no-repeat center top/cover;
	height: 100vh;
}

.logo{
	margin: 20px 0px;
}

nav{
	float: right;
}

.menu{
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 40px;
}

.menu li{
	float: left;
	display: block;
	margin-right: 40px;
}

.menu li:last-child{
	margin-right: 0;
}

.menu a{
	font-family: candara;
	color: #d4d4e5;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

.figures{
	position: absolute;
	bottom: 0;
	z-index: 10;
	display: flex;
    justify-content: center;
    max-width: 1000px;
    max-height: 700px;
}

.titles{
	font-family: oswald_regular;
	color: #fff;
	text-transform: uppercase;
	padding-left: 180px;
	letter-spacing: 12px;
}

.titles h1{
	position: absolute;
	font-size: 160px;
	margin-top: 25px;
	display: block;
	float: left;
	z-index: 999;
}

.titles p{
	font-size: 35px;
	padding-top: 185px;
	position: absolute;
	padding-left: 205px;
	z-index: 999;
	letter-spacing: 0px;
	text-transform: lowercase;
}

.ferst_part{
	float: left;
}

.second_part{
	float: left;
	padding-top: 100px;
	margin-left: 300px;
}

.second_part h2{
	position: absolute;
	font-size: 160px;
	margin-top: 25px;
	display: block;
	float: left;
	margin-left: 320px;
	z-index: 0;
}

#about_area{
	font-family: GothamProRegular;
	background: #a8bfd1;
	padding-bottom: 50px;
	font-size: 14px;
}

#about_area h1{
	font-family: oswald_regular;
	text-transform: uppercase;
	color: #8a4e67;
	font-size: 80px;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
}

.about_left{
	float: left;
}

.about_left h2{
	font-family: oswald_regular;
	color: black;
	font-size: 30px;
	padding: 0;
	margin: 0;
	display: block;
	width: 400px;
	padding-bottom: 30px;
}

.for_scroll{
	height: 300px;
	overflow: auto;
	position: relative;
}

#about_area table b{
	font-family: GothamProBold;
	font-size: 16px;
}

.about_left td{
	padding-bottom: 30px;
}


.about_left table{
	border-collapse: collapse;
}

.about_left button{
	margin-top: 30px;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid blue;
	color: black;
	display: block;
	text-align: center;
	padding: 20px 150px;
	position: relative;
	background-color: #a8bfd15c;
}

.about_left button:hover{
	background: blue;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

.about2 img{
	width: 300px;
	height: 430px;
}

.about2{
	float: left;
	margin-left: 20px;
}

.about3{
	float: right;
	margin: 0 8px 0 0;
}

.about3 img{
	width: 300px;
	height: 430px;
}

.about_wind{
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	max-width: 1000px;
	background-color: #79a0bf;
	z-index: 999999;
	border-radius: 50px;
	padding: 45px;
	display: none;
}

.about_wind.active{
	display: block;
}

.about_wind_bg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999998;
	background: #252525c4;
	display: none;
}

#galery{
	font-family: oswald_regular;
	background-color: #a8bfd1;
	height: 100%;
    display: flex;
}

#galery img{
	margin-bottom: 3px;
}

#galery h1{
	font-family: oswald_regular;
	text-transform: uppercase;
	color: #8a4e67;
	font-size: 80px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 1;
	position: relative;
}

.sl1, .sl2{
	max-width: 533px;
	margin-bottom: 0;
}

.sl1 img, .sl2 img{
	width: 533px;
	height: 355px;
}

.sl__left{
	float: left;
}

.sl3{
	width: 507px;
	height: 720px;
	float: right;
}

.sl3 img{
	width: 507px;
	height: 720px;
}

.slick-slide {
    outline: none;
}

.figures2{
	z-index: 0;
	height: 1000px;
	position: absolute;
}

section{
	z-index: 999;
}

#video{
	background-color: #a8bfd1;
	padding-top: 50px;
	display: flex;
}

.video_block{
	display: block;
	margin: 0 auto;
	position: relative;
}

#offer{
	font-family: GothamProRegular;
	background-color: #a8bfd1;
}

#offer h1{
	font-family: oswald_regular;
	text-transform: uppercase;
	color: #8a4e67;
	font-size: 80px;
	margin: 0;
	padding: 50px 0 50px 0;
}

.upper{
	height: 400px;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-left: 46px;
	position: relative;
}

.upper img{
	float: left;
	height: 391px;
}

.upper a{
	color: red;
}

.upper_text {
    max-width: 482px;
    max-height: 400px;
    position: absolute;
    padding-left: 451px;
}

.upper_text h3{
	font-family: oswald_regular;
	font-size: 33px;
	margin-bottom: 0;
}

.down_text {
    max-width: 482px;
    max-height: 400px;
    position: absolute;
    padding-left: 35px;
}

.down_text h3{
	font-family: oswald_regular;
	font-size: 33px;
	margin-bottom: 0;
}

.offer_bot{
	padding-top: 50px;
	display: block;
	margin-left: 150px;
}

.offer_bot button{
	margin-left: 100px;
	border: 2px solid blue;
	width: 230px;
    height: 50px;
    background-color: #a8bfd1;
	padding: 15px 60px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

.offer_bot button:hover{
	background: blue;
	color: white;
	box-shadow: 0px 5px 45px 5px rgba(0, 90, 255, 0.5);
}

.offer_wind{
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	max-width: 1000px;
	background-color: #79a0bf;
	z-index: 999999;
	border-radius: 50px;
	padding: 45px;
	display: none;
}

.offer_wind.active{
	display: block;
}

.offer_wind_bg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999998;
	background: #252525c4;
	display: none;
}

.offer_bot a{
	margin-left: 100px;
	border: 2px solid blue;
	width: 150px;
	padding: 15px 60px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: black
}

.offer_bot a:hover{
	background: blue;
	color: white;
	box-shadow: 0px 5px 45px 5px rgba(0, 90, 255, 0.5);
}

.dop{
	left: 0;
	right: 0;
	margin: auto;
	top: 276%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 63%;
    max-height: 154%;
}

#blog{
	font-family: GothamProRegular;
	background-color: #a8bfd1;
}

#blog h1{
	font-family: oswald_regular;
	text-transform: uppercase;
	color: #8a4e67;
	font-size: 80px;
	margin: 0;
	padding: 30px 0 50px 0;
}

.blog1{
	padding-bottom: 40px;
}

.blog1 img{
	width: 100%;
}

.blog1_text{
	margin: 0 auto;
	width: 40%
}

.blog1_text h3{
	font-family: oswald_regular;
	font-size: 33px;
	margin-bottom: 0;
	margin: 0;
}

#blog a{
	text-decoration: none;
	color: black;
	padding-left: 100px;
	padding-top: 0;
}

#blog span{
	color: red;
}

.blog2{
	display: block;
	float: left;
	max-width: 29%;
	padding-bottom: 200px;
}

.blog_down{
	padding-bottom: 50px;
}

.blog_down img{
	max-width: 300px;
}

.blog_center{
	margin-left: 73px;
}

.blog_right{
	float: right;
}

.blog2_text{
	display: block;
}

.blog2_text h3{
	font-family: oswald_regular;
	font-size: 28px;
	margin-bottom: 0;
	margin: 0;
}

#contacts{
	font-family: GothamProRegular;
	background-color: #a8bfd1;
	height: 500px;
}

.contacts_line{
	height: 300px;
	background-color: #4d6273;
}

.rectangle{
	width: 469px;
    height: 453px;
    background-color: #4d6273;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    margin: -86px 792px;

}

footer{
	font-family: GothamProRegular;
	background-color: #a8bfd1;
	height: 100px; 
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}

#contacts{
	color: white;
}

.contacts{
	display: block;
	max-width: 150px;
	float: left;
	padding-top: 50px;
}

.c2{
	margin-left: 100px;
}

#contacts h3{
	font-family: oswald_regular;
	text-transform: uppercase;
	font-size: 28px;
	margin-bottom: 0;
	margin: 0;
}

.c2 img{
	max-height: 40px;
	padding: 10px 10px;
}

.rectangle_text{
	padding: 50px 60px;
}

.rectangle_text input{
	font-family: GothamProRegular;
	height: 30px;
    width: 335px;
    margin: 10px 0;
    padding: 5px 0 4px 11px;
    border: none;
    background: #e6e6e6;
}

#contacts textarea{
	font-family: GothamProRegular;
	width: 335px;
	margin: 12px 0 30px 0;
    padding: 14px 0 0 13px;
    border: none;
    background: #e6e6e6;
    resize: none;
}

.rectangle_text a{
	border: 2px solid blue;
	width: 150px;
	padding: 15px 60px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: white;
}

.rectangle_text a:hover{
	background: blue;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

.cont_bat{
	display: block;
	float: right;
}

.video_cont{
	margin: 0;
}

.slick-next {
    right: 38% !important;
    top: 103% !important;
    z-index: 600;
}

.slick-track{
	margin: 0 0 6px 0;
}

.slick-prev{
	top: 103% !important;
	left: 38% !important;
	z-index: 600;
}

.slick-dots{
	z-index: 500;
}

.slick-prev:before, .slick-next:before {
	color: blue !important;
	}

.slick-dots li button:before {
	opacity: 0.7 !important;
    color: white !important;
}

.slick-dots li.slick-active button:before {
	opacity: 1 !important;
    color: blue !important;
}


@media (max-width: 1024px) and (min-width: 375px){
	header{
		height: 724px;
	}
	.figures{
		max-width: 853px;
		margin: 0 0 0 93px;
	}

	.menu {
    margin: 40px 100px 0 0;
	}
	.logo {
    margin: 20px 75px;
		}
	.titles {
		padding-left: 11%;
	}
	#about_area{
		padding: 0 0 0 35px;
	}
	#ascrail2000{
		left: 431px;
	}
	.about2 img {
    	    width: 225px;
    height: 338px;   
	}
	.about3 img {
    	    width: 225px;
    height: 338px;
}
	.about3 {
    float: left;
    margin: 100px 0 0 24px;
	}
	.about2 {
    margin: 100px 0 0 24px;
	}
	.sl__left {
    width: 43%;
}
	.sl1 img, .sl2 img {
    width: 100%;
    height: 100%;
}
	.sl3 img {
        width: 359px;
    height: 525px;
    padding: 0 0 0 12px;
}
	.sl3{
		float: left;
		height: 529px;
	}
	#galery{
		padding: 0 0 0 9%;
	}

	.dop{
		top: 2000px;;
	}
	
	.rectangle{
		margin-left: 47%;
	}
	#offer{
		padding: 0 0 0 9%;
	}
	.upper{
		padding-left: 0;
		    height: 340px;
	}
	.upper img {
    height: 330px;
}
.offerrightimg{
	width: 50% !important;
}
	.upper h3{
		margin: 5px !important;
	}
	.down_text {
    max-width: 386px;
}
.upper_text {
    max-width: 403px;
    padding-left: 380px;
}
.offer_bot {
    padding-top: 24px;
    margin-left: 34px;
}
	#blog{
		padding: 0 0 0 9%;
	}
	.blog1 {
    width: 78%;
}
	.blog_down img {
    max-width: 232px;
}
.blog2 { 
    max-width: 20%;
}
	.blog_right{
		float: left;
		    margin-left: 73px;
	}
	.blog2 a{
		padding-left: 50px !important;
	}
	.contacts_line{
		padding: 0 0 0 9%;
	}
	.c2 {
    margin-left: 46px;
}	
#contacts{
	height: 400px !important;
}

.container{
	width: 100%
}
}